body, html {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: $bodyBackgroundColor;
  color: $bodyFontColor;
  font-family: 'Open Sans', sans-serif;
}

.vw100 { width: 100vw }
.vh100 { height: 100vh }