<template lang="pug">
  .chatView
    ChatHeader
    .chatView__body
      ChatConversationBlock.chatView__conversationBlock
      ChatUsersBlock.chatView__usersBlock
</template>

<script>
import ChatHeader from '@/components/chat/ChatHeader.vue'
import ChatConversationBlock from '@/components/chat/ChatConversationBlock.vue'
import ChatUsersBlock from '@/components/chat/ChatUsersBlock.vue'

export default {
  name: 'ChatView',
  components: {
    ChatHeader,
    ChatConversationBlock,
    ChatUsersBlock
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/scss/variables.scss';
// Variables
$chatBackgroundColor: #333333;
$chatUsersBackgroundColor: #fff;
$chatBorderRadius: 4px;
$chatConversationWidth: 262px;

// Styles
.chatView {
  &__body {
    display: flex;
    align-items: stretch;
    padding: 0 80px;
    margin-top: 20px;
    height: calc(100vh - #{$headerHeight} - 20px - 50px);
    border-radius: $chatBorderRadius;
  }
  &__conversationBlock {
    width: calc(100% - #{$chatConversationWidth});
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }
  &__usersBlock {
    width: $chatConversationWidth !important;
    background-color: $chatUsersBackgroundColor;
    border-top-right-radius: inherit;
    border-bottom-right-radius: inherit;
  }
}
</style>
