<template lang="pug">
  .chatHeader
    h1.chatHeader__title Chat bots 2.0 — {{ auth_user.userName }}
</template>

<script>
import AuthMixins from '@/mixins/AuthMixins';
export default {
  name: 'ChatHeader',
  mixins: [AuthMixins]
}
</script>

<style scoped lang="scss">
@import '@/assets/scss/variables.scss';

.chatHeader {
  height: $headerHeight;
  padding: 0 80px;
  background-color: #fff;

  &__title {
    padding-top: 32px;
    font-size: 32px;
    line-height: 1;
  }
}
</style>
