<template lang="pug">
.chatUsers
  .chatUsers__usersBlock
    .chatUsers__headerTabs
      .chatUsers__headerTab.chatUsers__onlineTab(:class='{active: activeTab==="online"}' @click='onClickTab("online")') Online
      .chatUsers__headerTab.chatUsers__allTab(:class='{active: activeTab==="all"}' @click='onClickTab("all")') All
    .chatUsers__usersList(v-if='activeTab==="online"')
      .chatUsers__userItem(v-for='user in usersOnlineArr' :key='`online_${user.id}`' :class='checkUserSelected(user)' @click='onClickSelectUser(user)')
        .chatUsers__userAvatarBlock
          img.chatUsers__userAvatar(v-if='user.avatar' :src='user.avatar')
          .chatUsers__userAvatarEmpty(v-if='!user.avatar')
          .chatUsers__userStatusOnline
        .chatUsers__userNameBlock
          .chatUsers__userName {{ user.userName }}
          .chatUsers__userDescription(v-if='user.message') {{ user.message.message }}
    .chatUsers__usersList(v-if='activeTab==="all"')
      .chatUsers__userItem(v-for='user in usersAllArr' :key='`all_${user.id}`' :class='checkUserSelected(user)' @click='onClickSelectUser(user)')
        .chatUsers__userAvatarBlock
          img.chatUsers__userAvatar(v-if='user.avatar' :src='user.avatar')
          .chatUsers__userAvatarEmpty(v-if='!user.avatar')
          .chatUsers__userStatusOnline(v-if='user.online')
        .chatUsers__userNameBlock
          .chatUsers__userName {{ user.userName }}
          .chatUsers__userDescription(v-if='user.message') {{ user.message.message }}
  .chatUsers__searchBlock
    FormInputText.chatUsers__searchInput(placeholder='Search...' type='text' :value='search' @onInput='(val) => search = val')
</template>

<script>
import AuthMixins from '@/mixins/AuthMixins';
import ChatMixins from '@/mixins/ChatMixins';
import FormInputText from '@/components/form/FormInputText.vue'

export default {
  name: 'ChatUsersBlock',
  mixins: [AuthMixins, ChatMixins],
  components: {
    FormInputText
  },
  data() {
    return {
      activeTab: null,
      search: null
    }
  },
  computed: {
    usersOnlineArr() {
      return this.room_users
        .filter(user => (user.id !== this.auth_user.id) && (this.search ? user.userName.toLowerCase().indexOf(this.search) === 0 : true) && user.online)
        .sort((user1, user2) => user1.userName > user2.userName ? 1 : -1)
    },
    usersAllArr() {
      return this.room_users
        .filter(user => (user.id !== this.auth_user.id) && (this.search ? user.userName.toLowerCase().indexOf(this.search) === 0 : true))
        .sort((user1, user2) => user1.userName > user2.userName ? 1 : -1)
    }
  },
  methods: {
    onClickTab(activeTab) {
      this.activeTab = activeTab
    },
    onClickSelectUser(user) {
      if (this.room_user) {
        if (this.room_user.id === user.id) return
      }
      this.room_userSelect(user)
    },
    checkUserSelected(user) {
      if (!this.room_user) return null;
      return {
        active: user.id === this.room_user.id
      }
    }
  },
  mounted() {
    this.onClickTab('online')
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/scss/variables.scss';
// Variables
$chatUsersHeaderHeight: 41px;
$chatUsersSearchHeight: 68px;

// Styles
.chatUsers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  color: $chatUsersFontColor;
  border: 1px solid #ddd;

  &__usersBlock {
    width: 100%;
    height: calc(100% - #{$chatUsersSearchHeight});
  }
  &__headerTabs {
    width: 100%;
    height: $chatUsersHeaderHeight;
    font-size: 14px;
    text-align: center;
    display: flex;
  }
  &__headerTab {
    display: flex;
    width: 50%;
    height: inherit;
    padding-top: 8px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
    color: #777;
    line-height: 1;
    cursor: pointer;
    &:hover {
      background-color: darken(#f8f8f8, 5%);
    }
    &.active {
      color: #555;
      background-color: #fff;
      cursor: default;
      border-bottom: 1px solid transparent;
    }
  }
  &__onlineTab {}
  &__allTab {
   border-left: 1px solid #ddd;
  }
  &__usersList{
    padding: 10px 0;
    width: 100%;
    height: calc(100% - #{$chatUsersHeaderHeight});
    overflow: scroll;
  }
  &__userItem{
    display: flex;
    padding: 5px 14px;
    &:hover {
      cursor: pointer;
      background-color: darken(#f8f8f8,5%);
    }
    &.active {
      background-color: #f8f8f8;
    }
  }
  &__userAvatarBlock {
    position: relative;
    width: 60px;
    height: 60px;
    margin-right: 15px;
  }
  &__userAvatar {
    width: inherit;
    height: inherit;
    border-radius: 3px;
  }
  &__userAvatarEmpty {
    width: inherit;
    height: inherit;
    background-color: darken(#becbd9,20%);
    border-radius: 3px;
  }
  &__userStatusOnline {
    position: absolute;
    bottom: -3px;
    right: -3px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #20d63e;
  }
  &__userNameBlock {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: flex-start;
  }
  &__userName {
    font-size: 16px;
    font-weight: 600;
  }
  &__userDescription {
    font-size: 14px;
    line-height: 16px;
    color: #999;
    white-space: nowrap;
    display:inline-block;
    overflow: hidden;
    text-overflow: ellipsis;

    -webkit-line-clamp: 2;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
  &__searchBlock{
    width: 100%;
    height: $chatUsersSearchHeight;
    padding: 10px 15px 20px;
  }
  &__searchInput {
    width: 100%;
    height: 38px;
    padding: 0 13px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.15);

    &:focus, &:active {
      outline: none;
      border-color: #74b9ef;
      box-shadow: inset 1px 1px 1px rgba(0,0,0,0.15), 0 0 5px 0 rgba(116,185,239,0.36);
    }
  }
}
</style>
