<template lang="pug">
.chatConversationMessage(:class='directionClass')
  .chatConversationMessage__wrap
    .chatConversationMessage__arrow.chatConversationMessage__arrowShadow(:class='directionClass')
    .chatConversationMessage__body
      .chatConversationMessage__arrow.chatConversationMessage__arrowInBody(:class='directionClass')
      .chatConversationMessage__header(:class='directionClass')
        .chatConversationMessage__headerName {{ userName }}
        .chatConversationMessage__headerDate(:class='directionClass') {{ createdAtFormatted }}
      .chatConversationMessage__message {{ messageObj.message }}
    .chatConversationMessage__seen(v-if='lastMessageSeen === index') Seen {{ seenAtFormatted }}
</template>

<script>
import AuthMixins from '@/mixins/AuthMixins';
import ChatMixins from '@/mixins/ChatMixins';

export default {
  name: 'ChatConversationMessage',
  mixins: [AuthMixins, ChatMixins],
  props: {
    index: Number,
    messageObj: Object,
    lastMessageSeen: Number,
    userName: String
  },
  computed: {
    isFrom() {
      return this.messageObj.userId !== this.auth_user.id
    },
    isTo() {
      return this.messageObj.userId === this.auth_user.id
    },
    isShowSeen() {
      if (!this.isTo) return false
      return this.messageObj.seenAt
    },
    directionClass() {
      return {
        from: this.isFrom,
        to: this.isTo
      }
    },
    createdAtFormatted() {
      return this.dateFormat(new Date(this.messageObj.createdAt))
    },
    seenAtFormatted() {
      if (!this.messageObj.seenAt) return
      return this.dateFormat(new Date(this.messageObj.seenAt))
    }
  },
  methods: {
    dateFormat(date) {
      let hours = date.getHours();
      let pmOrAm = 'AM'
      if (hours > 12) {
        pmOrAm = 'PM'
        hours -= 12;
      }
      let minutes = date.getMinutes();
      return `${hours}:${minutes < 10 ? '0' : ''}${minutes} ${pmOrAm}`
    }
  },
  mounted() {
    if (!this.messageObj.seenAt && this.messageObj.userId !== this.auth_user.id) {
      this.emit_messageSeen(this.messageObj.id)
    }
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/scss/variables.scss';
// Variables

// Styles
.chatConversationMessage {
  width: 100%;
  margin-bottom: 20px;
  
  &.from {
    display: flex;
    justify-content: flex-start;
  }
  &.to {
    display: flex;
    justify-content: flex-end;
  }

  &__wrap {
    position: relative;
    width: 100%;
    max-width: 653px;
  }
  &__arrow {
    position: absolute;
    top: 48px;
    border-radius: 1px;
    width: 15px;
    height: 15px;
    transform: rotate(45deg);
    background-color: #f4f8fb;
    &.from {
      left: 3px;
    }
    &.to {
      right: 3px;
    }
  }
  &__arrowShadow {
    z-index: 9;
    box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.21);
  }
  &__arrowInBody {
    position: absolute;
    z-index: 10;
    background-color: #f4f8fb;
    &.from {
      left: -7px;
    }
    &.to {
      right: -7px;
    }
  }
  &__body {
    position: relative;
    z-index: 10;
    margin: 0 10px;
    border-radius: 5px;
    background-color: #f4f8fb;
    box-shadow: 3px 5px 8px 0px rgba(0,0,0,0.21);
  }
  &__header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 36px;
    padding: 12px 16px;
    font-size: 14px;
    line-height: 1;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    &.from {
      color: #203245;
      background-color: #becbd9;
    }
    &.to {
      color: #703a18;
      background-color: #f0cbb3;
    }
  }
  &__headerName {}
  &__headerDate {
    &.from {
      color: #9aa8b7;
    }
    &.to {
      color: #bba08e;
    }
  }
  &__message {
    padding: 12px 15px 15px;
    font-size: 14px;
    line-height: 16px;
    font-weight: 600;
  }
  &__seen {
    margin-top: 10px;
    margin-left: 30px;
    font-size: 12px;
    line-height: 1;
    color: #9aa8b7;
  }
}
</style>
