<template lang="pug">
.chatConversation
  .chatConversation__userEmpty(v-if='!room_user')
    .chatConversation__userEmptyTitle Please select room
  .chatConversation__userHeader(v-if='room_user')
    .chatConversation__userAvatarEmpty(v-if='!room_user.avatar')
    img.chatConversation__userAvatar(v-if='room_user.avatar' :src='room_user.avatar')
    .chatConversation__userInfo
      .chatConversation__userName {{ room_user.userName }}
      .chatConversation__userDescription {{ room_user.description }}
  .chatConversation__messagesBlock(v-if='room_user')
    .chatConversation__messages(@scroll='onScrollMessages')
      ChatConversationMessage(
        v-for='(message, index) in room_messages' 
        :key='message.id' 
        :index='index' 
        :messageObj='message' 
        :lastMessageSeen='lastMessageSeen'
        :userName='message.userId === room_user.id ? room_user.userName : auth_user.userName'
      )
    .chatConversation__statusTypingBlock
      .chatConversation__statusTyping(v-if='room_typing') {{ room_user.userName }} is typing...
    .chatConversation__answerBlock
      .chatConversation__answerWrap
        FormInputText.chatConversation__answerInput(placeholder='Start chatting!' type='text' :value='messageToSend' @onInput='onInputMessage' @onEnter="onEnter")
        FormBtn.chatConversation__answerBtn(text='Send message' :disabled='!isMessageValid' @onClick='onClickSend')
</template>

<script>
import AuthMixins from '@/mixins/AuthMixins';
import ChatMixins from '@/mixins/ChatMixins';
import FormInputText from '@/components/form/FormInputText.vue'
import FormBtn from '@/components/form/FormBtn.vue'
import ChatConversationMessage from '@/components/chat/ChatConversationMessage.vue'

export default {
  name: 'chatConversationBlock',
  mixins: [AuthMixins, ChatMixins],
  components: {
    FormInputText,
    FormBtn,
    ChatConversationMessage
  },
  data() {
    return {
      messageToSend: null,
      messageParsed: null,
      timeoutTypingId: null,
      messagesBeforeLoading: false
    }
  },
  computed: {
    isMessageValid() {
      if (!this.messageParsed) return false
      return true
    },
    lastMessageSeen() {
      let index = -1;
      this.room_messages.forEach((mes, i) => {
        if (mes.seenAt && mes.userId === this.auth_user.id) {
          index = i
        }
      })
      return index
    }
  },
  methods: {
    onInputMessage(val) {
      this.messageToSend = val
      this.messageParsed = val.replace(/^[ ]+|[ ]+$/ig,'')
      if (this.timeoutTypingId === null) {
        this.emit_messageTyping(true)
        this.setTimeoutForTyping()
      } else {
        this.setTimeoutForTyping()
      }
    },
    setTimeoutForTyping() {
      clearTimeout(this.timeoutTypingId)
      this.timeoutTypingId = setTimeout(() => {
        this.emit_messageTyping(false)
        this.timeoutTypingId = null
      }, 500)
    },
    onClickSend() {
      this.emit_messageSend(this.messageParsed)
      this.messageToSend = null
      this.messageParsed = null
    },
    onEnter(val) {
      this.onInputMessage(val)
      if (this.isMessageValid) {
        this.onClickSend()
      }
    },
    onEmitMessageScrollBottom() {
      this.$nextTick(() => {
        const messagesNode = this.$el.querySelector('.chatConversation__messages')
        messagesNode.scrollTop = messagesNode.scrollHeight
      })
    },
    onScrollMessages() {
      const messagesNode = this.$el.querySelector('.chatConversation__messages')
      if (messagesNode.scrollTop < 50 && !this.messagesBeforeLoading && this.room_more) {
        this.messagesBeforeLoading = true
        this.room_offsetSet(this.room_offset + 10)
        this.emit_messagesLoad()
      }
    },
    onEmitMessageLoaded() {
      this.messagesBeforeLoading = false
    }
  },
  mounted() {
    this.$eventHub.$on(process.env.VUE_APP_EVENT_BUS_MESSAGES_SCROLL_BOTTOM, this.onEmitMessageScrollBottom)
    this.$eventHub.$on(process.env.VUE_APP_EVENT_BUS_MESSAGES_LOADED, this.onEmitMessageLoaded)
  },
  beforeDestroy() {
    this.$eventHub.$off(process.env.VUE_APP_EVENT_BUS_MESSAGES_SCROLL_BOTTOM)
    this.$eventHub.$off(process.env.VUE_APP_EVENT_BUS_MESSAGES_LOADED)
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/scss/variables.scss';
// Variables
$chatConversationHeight: 170px;
$chatConversationAvatarBig: 170px;

// Styles
.chatConversation {
  display: flex;
  flex-direction: column;
  &__userEmpty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #becbd9;
    border-top-left-radius: inherit;
    border-bottom-left-radius: inherit;
  }
  &__userEmptyTitle {
    font-size: 30px;
    font-weight: 600;
  }
  &__userHeader {
    display: inline-flex;
    height: $chatConversationHeight;
    overflow: hidden;
    background-color: #becbd9;
    border-top-left-radius: inherit;
  }
  &__userAvatarEmpty {
    width: $chatConversationAvatarBig;
    height: $chatConversationAvatarBig;
    border-top-left-radius: inherit;
    background-color: darken(#becbd9,20%);
  }
  &__userAvatar {
    width: $chatConversationAvatarBig;
    border-top-left-radius: inherit;
  }
  &__userInfo {
    width: calc(100% - #{$chatConversationAvatarBig});
    padding: 18px 30px 18px 24px;
  }
  &__userName {
    font-size: 24px;
    line-height: 1;
    font-weight: 600;
    color: #333;
  }
  &__userDescription {
    font-size: 14px;
    line-height: 20px;
    color: #354149;
  }
  &__messagesBlock {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: calc(100% - #{$chatConversationHeight});
    padding-right: 10px;
    background-color: #d7dfe7;
    border-bottom-left-radius: inherit;
  }
  &__messages {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 20px 20px 20px 10px;
    overflow: scroll;
    // scrollbar-width: 10px;
  }
  &__statusTypingBlock {
    position: absolute;
    z-index: 10;
    left: 10px;
    bottom: 68px;
    width: calc(100% - 10px);
    background: transparent;
    text-align: center;
  }
  &__statusTyping {
    display: inline-block;
    margin: 5px auto;
    padding: 3px 5px;
    font-size: 14px;
    color: #3a87ae;
    background-color: #d7dfe7;
    border-radius: 4px;
  }
  &__answerBlock {
    position: relative;
    width: 100%;
    padding: 10px 20px 20px 10px;
  }
  &__answerWrap {
    display: flex;
  }
  &__answerInput {
    width: 100%;
    height: 38px;
    padding: 0 13px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.15);

    &:focus, &:active {
      outline: none;
      border-color: #74b9ef;
      box-shadow: inset 1px 1px 1px rgba(0,0,0,0.15), 0 0 5px 0 rgba(116,185,239,0.36);
    }
  }
  &__answerBtn {
    width: 255px;
    height: 38px;
    margin-left: 10px;
    background-color: $colorBlue1;
    border: 1px solid $colorBlue2;
    border-radius: 4px;
    color: #fff;
    font-size: 13px;
    font-weight: bold;
  }
}
</style>
