<template lang="pug">
input.formInputText(:type='type' :placeholder='placeholder' :value='value' @input='$emit("onInput", $event.target.value)' v-on:keyup.enter='$emit("onEnter", $event.target.value)')
</template>

<script>

export default {
  name: 'FormInputText',
  props: {
    type: {
      type: String,
      default: 'text'
    },
    value: {
      type: String
    },
    placeholder: {
      type: String,
      default: null
    }
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/scss/variables.scss';

// Styles
.formInputText {
  width: 100%;
  height: 38px;
  padding: 0 13px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
  box-shadow: inset 1px 1px 1px rgba(0,0,0,0.15);

  &:focus, &:active {
    outline: none;
    border-color: #74b9ef;
    box-shadow: inset 1px 1px 1px rgba(0,0,0,0.15), 0 0 5px 0 rgba(116,185,239,0.36);
  }
}
</style>
