<template lang="pug">
button.formBtn(type='button' :class='rootClass' @click='disabled ? null : $emit("onClick")') {{ text }}
</template>

<script>

export default {
  name: 'FormBtn',
  props: {
    text: {
      type: String
    },
    disabled: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    rootClass() {
      return {
        disabled: this.disabled
      }
    }
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/scss/variables.scss';

// Styles
.formBtn {
  width: 100%;
  height: 38px;
  background-color: $colorBlue1;
  border: 1px solid $colorBlue2;
  border-radius: 4px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;

  &:hover {
    background-color: lighten($colorBlue1,5%);
  }
  &.disabled {
    cursor: not-allowed;
    background-color: lighten($colorBlue1,30%);
    border: 1px solid lighten($colorBlue2,30%);
    outline: none;
    &:hover, &:focus, &:active {
      border: 1px solid lighten($colorBlue2,30%);
      background-color: lighten($colorBlue1,30%);
      outline: none;
    }
  }
}
</style>
