<template lang="pug">
  .notFoundView
    .notFoundView__card
      h2.notFoundView__title 404
      h3.notFoundView__subTitle Not found
</template>

<script>
export default {
  name: 'NotFoundView',
  components: {}
}
</script>

<style scoped lang="scss">
@import '@/assets/scss/variables.scss';

// Styles
.notFoundView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 300px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
  }
  &__title {
    font-size: 80px;
  }
  &__subTitle {
    font-size: 20px;
  }
}
</style>
