<template lang="pug">
  .loginView
    .loginView__card
      h1.loginView__title Login
      .loginView__alertError(v-if='errorMessage') {{ errorMessage }}
      FormInputText.loginView__inputLogin(placeholder='Email...' :value='email' @onInput='(val) => email = val')
      FormInputText.loginView__inputPassword(placeholder='Password...' type='password' :value='password' @onInput='(val) => password = val')
      FormBtn.loginView__btn(text='Login' :disabled='!isEmailValid || !isPasswordValid' @onClick='onClickLogin')
      .loginView__noRegistration
        span.loginView__noRegistrationSpan No registered?
        a.loginView__link(@click='$router.push("/signup")') Create Account!
</template>

<script>
import AuthMixins from '@/mixins/AuthMixins';
import FormInputText from '@/components/form/FormInputText.vue'
import FormBtn from '@/components/form/FormBtn.vue'

export default{
  name: 'LoginView',
  mixins: [AuthMixins],
  components: {
    FormInputText,
    FormBtn
  },
  data() {
    return {
      errorMessage: null,
      email: null,
      password: null
    }
  },
  computed: {
    isEmailValid() {
      if (!this.email) return false
      return /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.email)
    },
    isPasswordValid() {
      if (!this.password) return false
      return true
    }
  },
  methods: {
    async onClickLogin() {
      this.errorMessage = null
      const resultRes = await this.auth_login(this.email, this.password)
      if (resultRes.error) {
        this.errorMessage = resultRes.error
      } else {
        this.$router.push('/chat')
      }
    }
  },
  mounted() {
    this.auth_reset()
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/scss/variables.scss';

// Styles
.loginView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    padding: 30px;
  }
  &__title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  &__alertError {
    width: 100%;
    background-color: #ff3860;
    color: #fff;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    margin-bottom: 15px;
  }
  &__inputLogin {
    margin-bottom: 10px;
  }
  &__inputPassword {
    margin-bottom: 15px;
  }
  &__btn {
    max-width: 150px;
    margin-bottom: 20px;
  }
  &__noRegistration {

  }
  &__noRegistrationSpan {
    margin-right: 5px;
  }
  &__link {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}
</style>
