<template lang="pug">
  .signUpView
    .signUpView__card
      h1.signUpView__title Create Account
      .signUpView__alertError(v-if='errorMessage') {{ errorMessage }}
      FormInputText.signUpView__inputLogin(placeholder='Email...' :value='email' @onInput='(val) => email = val')
      FormInputText.signUpView__inputPassword(placeholder='Password...' type='password' :value='password' @onInput='(val) => password = val')
      FormInputText.signUpView__inputUserName(placeholder='User name...' :value='userName' @onInput='(val) => userName = val')
      FormBtn.signUpView__btn(text='Create Account' :disabled='!isEmailValid || !isPasswordValid || !isUserNameValid' @onClick='onClickSignUp')
      .signUpView__login
        span.signUpView__loginSpan Already have an account?
        a.signUpView__link(@click='$router.push("/login")') Login
</template>

<script>
import AuthMixins from '@/mixins/AuthMixins';
import FormInputText from '@/components/form/FormInputText.vue'
import FormBtn from '@/components/form/FormBtn.vue'

export default {
  name: 'SignUpView',
  mixins: [AuthMixins],
  components: {
    FormInputText,
    FormBtn
  },
  data() {
    return {
      errorMessage: null,
      email: null,
      password: null,
      userName: null
    }
  },
  computed: {
    isEmailValid() {
      if (!this.email) return false
      return /^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/.test(this.email)
    },
    isPasswordValid() {
      if (!this.password) return false
      return true
    },
    isUserNameValid() {
      if (!this.userName) return false
      return true
    }
  },
  methods: {
    async onClickSignUp() {
      this.errorMessage = null
      const resultRes = await this.auth_signUp(this.email, this.password, this.userName)
      if (resultRes.error) {
        this.errorMessage = resultRes.error
      } else {
        this.$router.push('/chat')
      }
    }
  },
  mounted() {
    this.auth_reset()
  }
}
</script>

<style scoped lang="scss">
@import '@/assets/scss/variables.scss';

// Styles
.signUpView {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 500px;
    border-radius: 5px;
    background-color: #fff;
    text-align: center;
    padding: 30px;
  }
  &__title {
    font-size: 30px;
    margin-bottom: 40px;
  }
  &__alertError {
    width: 100%;
    background-color: #ff3860;
    color: #fff;
    border-radius: 4px;
    padding: 10px 30px 10px 20px;
    margin-bottom: 15px;
  }
  &__inputLogin {
    margin-bottom: 10px;
  }
  &__inputPassword {
    margin-bottom: 10px;
  }
  &__inputUserName {
    margin-bottom: 15px;
  }
  &__btn {
    max-width: 150px;
    margin-bottom: 20px;
  }
  &__login {

  }
  &__loginSpan {
    margin-right: 5px;
  }
  &__link {
    text-decoration: underline;
    cursor: pointer;
    &:hover {
      text-decoration: none;
    }
  }
}
</style>
